        .hero-section {
            background: linear-gradient(to right,#FFFFFF ,#2563EB ,#10B981 );
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        }
        .feature-card {
            transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        }
        .feature-card:hover {
            transform: translateY(-6px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        }
        .fade-in {
            animation: fadeIn 1s ease-in-out;
        }
        @keyframes fadeIn {
            from { opacity: 0; transform: translateY(20px); }
            to { opacity: 1; transform: translateY(0); }
        }
        .logo{
            height: 10px;
            width: 10px;
            
        }
        .img-scr{
            height: 100px;
            width: 100px;
            margin-top: 20px;
           position: fixed;
           top: 0;
           left: 0;
           background-image: none;
        }

       